body {
	background-color: #981e32;
	overflow-y: scroll;
}

#logo {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	width: 372px;
	height: auto;
}

#tagLine {
	color: #fff;
	text-align: center;
	font-family: "Arial Black";
	font-weight: 800;
	margin: 30px;
	margin-top: -20px;
	padding-left: 60px;
}

#facebookButton {
        width: 124px;
        clear: both;
        margin: 0 auto;
        color: #fff;
	margin-bottom: 15px;
}


#deliveryButton {
	background-color: #5e6a71;
	border-radius: 10px;
	padding: 10px;
	width: 225px;
	margin: 0 auto;	
	margin-top: 10px;
	margin-bottom: 20px;
	color: #fff;
	font-weight: 800;
	font-size: 20px;
	text-align: center;
}

#content {
	margin: 0 auto;
	width: 60%;
}

#content h1 {
	text-align: center;
}

.result {
	background-color: #fff;
	font-size: 18px;
	margin-bottom: 35px;
	box-shadow: 5px 5px 10px #000;
}

.summary {
	font-size: 25px;
	color: #fff;
	background-color: #5e6a71;
	width: 100%;
}

#name {
	font-weight: 800;
	padding: 15px;
	padding-left: 20px;
}

#name a {
	text-shadow: 3px 3px #000;
}

#type {
	text-align: right;
	font-weight: 600;
	padding: 15px;
	padding-right: 20px;
}

#address {
	padding: 10px;
	padding-left: 20px;
}

#address a{
	text-shadow: 1px 2px #BFBFBF;
}

#phoneNum {
	text-align: right;
	padding: 10px;
	padding-right: 20px;
}

#delivers {
	text-align: center;
	padding: 10px;
	
}

.yes {
	font-weight: 700;
	padding-top:15px;
	padding-bottom: 15px;
	text-align: center;
	color: #32C14C;
}

.no {
	font-weight: 700;
	padding-top:15px;
	padding-bottom: 15px;
	text-align: center;
	color: #000;
}

#openTill {
	text-align: center;
	padding: 25px;
	padding-top: 0px;
	font-weight: 800;
	font-size: 22px;
}

#footer {
	text-align: center;
	font-size: 25px;
	color: #fff;
	background-color: #5e6a71;
	width: 65%;
	margin: 0 auto;
	padding: 20px;
	font-weight: 700;
	margin-bottom: 25px;
}

#affil {
	font-size: 20px;
	margin: 0px;
}

#footer h5 {
	margin: 0px;
}

#footer a {
	font-size: 18px;
	font-weight: 500;
}

#left {
	text-align: left;
}

#right {
	text-align: right;
}

#noResults {
	color: #fff;
	font-size: 36px;
	font-weight: 800;
	padding: 35px;
}


#footer A:link {color: #FFF;}
#footer A:visited {color: #F0F;}
#footer A:active {color: #FFF;}
#footer A:hover {color: #FF0;}

#name A:link {color: #fff; text-decoration: none;}
#name A:visited {color: #fff; text-decoration: none;}
#name A:active {color: #fff; text-decoration: none;}	
#name A:hover {color: #fff; text-decoration: none;}

#address A:link {color: #000; text-decoration: none;}
#address A:visited {color: #000; text-decoration: none;}
#address A:active {color: #000; text-decoration: none;}	
#address A:hover {color: #000; text-decoration: none;}
